.container{
    opacity: 0.9;
    background-color: #fff;
    width: 620px;
    margin-top: 150px;
}

.DataGrid{
    border-radius: 10px solid red;
    border-radius: 2rem;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left:620px;
    margin-top: 154px;
    width: 615px;   
    height: 670px;  
}

.picture {
    border-radius: 10px solid red;
    margin: 1rem;
    background-color: #363738;
    padding: 1rem;
    width: 300px;
}

.fade {
    background-color: #202329;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 615px;   
    height: 570px;
}

.pagination {
    height: 50px;
    opacity: 0.9;
    margin-top: 10px;
    border-radius: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInModal {
    margin-top: -20px;
    box-sizing: border-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: sandybrown;
    overflow: hidden
}

.loader {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}